.hero{
    height: 60vh;
    position: relative;
}

.hero img:first-of-type{
    object-fit: cover;
    filter: brightness(0.5);
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}
.hero img:last-of-type{
    position: absolute;
    z-index: -100;
    width: 164px;
    right: 18px;
    bottom: 44px;
}

.hero .hero-content{
    width: 60%;
    padding-top: 44px;
    padding-left: 48px;
}

.hero .hero-content h1{
    font-size: 64px;
}