<nav class="navbar">
    <ul>
        <li><img src="../src/assets/pmyncLogo.png" alt="PMYNC LOGO" width=75></li>
        <li><img src="../src/assets/pmyncLogo2.png" alt="PMYNC LOGO 2" width=170></li>
        <li><img src="../src/assets/emblem.png" alt="EMBLEM" width=100></li>
        <li><img src="../src/assets/inlights.svg" alt="INLIGHTS" height=27.5></li>
        <li><a href="/">Home</a></li>
        <li><a href="../about.html">About</a></li>
        <li><a href="../members.html">Members</a></li>
        <li><a href="../projects.html">Projects</a></li>
        <li><a href="../contact.html" id="contactBtn">Contact Us <img src="../src/assets/anchorArrow.svg" width=20 alt=""></a></li>
    </ul>
</nav>
